/* Overall div for everything */
.App {

}

/* Only for formatting the title name of service */
.thisIsFormattingForTheMainTitleOfTheGenericUnnamedStreamingServiceThatWeHaventMadeYet {
  font-size: 100px;
  color: rgb(25, 20, 20);
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Formatting for the login screen */
.loginSystem {
  text-align: center;
}

.loginText {
  padding-top: 8%;
  color: rgb(25, 20, 20);
  margin: 0;
}

.usernameBox {
  
}

.passwordBox {

}