/* Overall div for everything */
.App {

}

/* Only for formatting the title name of service */
.thisIsFormattingForTheMainTitleOfTheGenericUnnamedStreamingServiceThatWeHaventMadeYet {
  font-size: 100px;
  color: rgb(25, 20, 20);
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Formatting for the login screen */
.loginSystem {
  text-align: center;
}

.loginText {
  padding-top: 5%;
  padding-bottom: 1%;
  color: rgb(25, 20, 20);
  margin: 0;
}

/* covers both email and username inputs */
.usernameBox {
  
}

.passwordBox {
  
}

/* covers both the submit and create new user buttons on the login page */
.loginButtons {
  margin: 1%;
}

/* used for displaying confirmations/warnings after trying to register users */
.respText {
  color: red;
}

h1 {
  color: rgb(25, 20, 20);
}

h2 {
  color: rgb(25, 20, 20);
}